In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df = df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [5]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
df['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [7]:
label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])

In [8]:
df['Gender'].unique()

array([0, 1])

In [9]:
df.shape

(10000, 11)

In [10]:
from sklearn.preprocessing import OneHotEncoder
ohencoder = OneHotEncoder()

In [11]:
df.shape[0]

10000

In [12]:
geo_encoder = ohencoder.fit_transform(df[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoder,columns = ohencoder.get_feature_names_out(['Geography']))

In [13]:
df = pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [14]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [15]:
with open('/Users/ayush/Downloads/VIT Downloads/Deep Learning/ann/label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('/Users/ayush/Downloads/VIT Downloads/Deep Learning/ann/ohencoder.pkl','wb') as file:
    pickle.dump(ohencoder,file)

In [16]:
import os
os.getcwd()

'/Users/ayush/Downloads/VIT Downloads/Deep Learning/ann'

In [17]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [18]:
X = df.drop('Exited',axis=1)
y = df['Exited']

In [19]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [20]:
scaler  = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [21]:
X_train.shape
print(X_test.shape[1])

12

In [22]:
with open('/Users/ayush/Downloads/VIT Downloads/Deep Learning/ann/scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [23]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping , TensorBoard
import datetime

In [24]:
model = Sequential()

model.add(Dense(64,activation='relu',input_shape=(X_train.shape[1],)))
model.add(Dense(32,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

/opt/anaconda3/lib/python3.12/site-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [25]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [26]:
import tensorflow 
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()

In [27]:
model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [28]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [29]:
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [30]:
history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 976us/step - accuracy: 0.8241 - loss: 0.4210 - val_accuracy: 0.8535 - val_loss: 0.3595
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 653us/step - accuracy: 0.8549 - loss: 0.3412 - val_accuracy: 0.8570 - val_loss: 0.3477
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 636us/step - accuracy: 0.8583 - loss: 0.3418 - val_accuracy: 0.8560 - val_loss: 0.3483
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 638us/step - accuracy: 0.8588 - loss: 0.3423 - val_accuracy: 0.8570 - val_loss: 0.3396
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 640us/step - accuracy: 0.8704 - loss: 0.3195 - val_accuracy: 0.8600 - val_loss: 0.3435
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 645us/step - accuracy: 0.8519 - loss: 0.3421 - val_accuracy: 0.8580 - val_loss: 0.3554
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 637us/step - accuracy: 0.8586 - loss: 0.3485 - val_accuracy: 0.8580 - val_loss: 0.3437
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 636us/step - accuracy: 0.8617 - loss: 0.3292 - val_accuracy: 0.8605 - val_loss: 0.3367
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 635us/step - accuracy: 0.8594 - loss: 0.3332 - val_accuracy: 0.8600 - val_loss: 0.3380
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 637us/step - accuracy: 0.8596 - loss: 0.3347 - val_accuracy: 0.8600 - val_loss: 0.3414
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 637us/step - accuracy: 0.8703 - loss: 0.3178 - val_accuracy: 0.8500 - val_loss: 0.3584
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 636us/step - accuracy: 0.8671 - loss: 0.3241 - val_accuracy: 0.8585 - val_loss: 0.3445
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 636us/step - accuracy: 0.8712 - loss: 0.3157 - val_accuracy: 0.8660 - val_loss: 0.3397

In [31]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [32]:
#Load tensorboard extension

%load_ext tensorboard

In [33]:
%tensorboard --logdir logs/fit